<configuration>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.access.PatternLayout">
            <Pattern>combined</Pattern>
        </layout>
    </appender>

    <appender-ref ref="STDOUT" />

    <if condition='isDefined("SPLUNK_URL")'>
        <then>

            <appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
                <url>${SPLUNK_URL}</url>
                <token>${SPLUNK_TOKEN}</token>
                <source>justin-disputes-api</source>
                <sourcetype>justin-disputes-access-logs</sourcetype>
                <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
                <disableCertificateValidation>true</disableCertificateValidation>
                <batch_size_count>1</batch_size_count>
                <layout class="ch.qos.logback.access.PatternLayout">
                    <pattern>combined</pattern>
                </layout>
            </appender>

            <appender-ref ref="http" />
        </then>
    </if>

</configuration>
